<div class="face-snap-card">
  <img alt="picture of the day" src="{{ faceSnap.imageUrl}}"/>
  <h2>{{ faceSnap.title | titlecase }}</h2>
  <p>Mis en ligne le {{ faceSnap.createdDate  | date }}</p>
  <p>(LongDate) Mis en ligne le {{ faceSnap.createdDate  | date: 'longDate' }}</p>
  <p>(Heure et date ) Mis en ligne le {{ faceSnap.createdDate  | date: 'à HH:mm, le d MMMM yyyy' }}</p>
  <p>{{ faceSnap.description | lowercase }}</p>
  @if (faceSnap.location) {
    <p>Snap capture : {{ faceSnap.location }}</p>
  }
  <p>
    <button (click)="OnAddSnap()" [ngClass]="{'snapped':buttonText ==='Oops, unSnap!'}">
      {{ buttonText }}
    </button>
    <span [ngStyle]="{color:'rgb(0,'+ faceSnap.snaps +',0)'}">🤌{{ faceSnap.snaps }}</span>

  </p>


</div>
